In [58]:
import gzip
import math
import matplotlib.pyplot as plt
import numpy as np
import random
import sklearn
import string
from collections import defaultdict
from gensim.models import Word2Vec
#from nltk.stem.porter import *
from sklearn import linear_model
from sklearn.manifold import TSNE
import pandas as pd
import gzip
from collections import defaultdict
from sklearn import linear_model
import csv
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
import seaborn as sns
import matplotlib.pyplot as plt
import re

In [42]:
def parse(f):
    for l in gzip.open(f, 'r'):
        yield eval(l)

In [43]:
modcloth = list(parse("modcloth_final_data.json.gz"))

In [33]:
null = None
rent = list(parse("renttherunway_final_data.json.gz"))

In [37]:
cloth = pd.DataFrame(rent)

In [44]:
df = pd.DataFrame(modcloth)

In [45]:
heights = [d for d in list(df['height'].copy().unique()) if isinstance(d, str)]

def height_calc(y):
    if isinstance(y, float):
        fake = random.sample(heights, 1)
        return height_calc(fake[0])

    if len(y) > 3:
        nums = y.split()
        feet = int(nums[0][0]) * 12
        inches = int(nums[-1][0])
        return feet + inches
    else:
        return int(y[0])

In [46]:
df['height'] = df['height'].apply(height_calc)

In [40]:
cloth.head()

,fit,user_id,bust size,item_id,weight,rating,rented for,review_text,body type,review_summary,category,height,size,age,review_date
0,fit,420272,34d,2260466,137lbs,10,vacation,An adorable romper! Belt and zipper were a lit...,hourglass,So many compliments!,romper,"5' 8""",14,28,"April 20, 2016"
1,fit,273551,34b,153475,132lbs,10,other,I rented this dress for a photo shoot. The the...,straight & narrow,I felt so glamourous!!!,gown,"5' 6""",12,36,"June 18, 2013"
2,fit,360448,NaN,1063761,NaN,10,party,This hugged in all the right places! It was a ...,NaN,It was a great time to celebrate the (almost) ...,sheath,"5' 4""",4,116,"December 14, 2015"
3,fit,909926,34c,126335,135lbs,8,formal affair,I rented this for my company's black tie award...,pear,Dress arrived on time and in perfect condition.,dress,"5' 5""",8,34,"February 12, 2014"
4,fit,151944,34b,616682,145lbs,10,wedding,I have always been petite in my upper body and...,athletic,Was in love with this dress !!!,gown,"5' 9""",12,27,"September 26, 2016"

In [39]:
for col in cloth.columns:
    if cloth[col].isna().sum() != 0:
        print(col, cloth[col].isna().sum())

bust size 18411
weight 29982
rating 82
rented for 10
body type 14637
height 677
age 960

In [70]:
def weight_converter(x):
    if isinstance(x, float):
        return 0
    return int(x.strip('lbs'))

def height_converter(x):
    if isinstance(x, float):
        return 0
    nums = x.split()
    num1 = int(re.findall(r'\d+', nums[0])[0])
    num2 = int(re.findall(r'\d+', nums[-1])[0])
    return (12 * num1) + num2

In [71]:
cloth['weight'] = cloth['weight'].copy().apply(weight_converter)
cloth['height'] = cloth['height'].copy().apply(height_converter)

In [72]:
cloth.head()

,fit,user_id,bust size,item_id,weight,rating,rented for,review_text,body type,review_summary,category,height,size,age,review_date
0,fit,420272,34d,2260466,137,10,vacation,An adorable romper! Belt and zipper were a lit...,hourglass,So many compliments!,romper,68,14,28,"April 20, 2016"
1,fit,273551,34b,153475,132,10,other,I rented this dress for a photo shoot. The the...,straight & narrow,I felt so glamourous!!!,gown,66,12,36,"June 18, 2013"
2,fit,360448,NaN,1063761,0,10,party,This hugged in all the right places! It was a ...,NaN,It was a great time to celebrate the (almost) ...,sheath,64,4,116,"December 14, 2015"
3,fit,909926,34c,126335,135,8,formal affair,I rented this for my company's black tie award...,pear,Dress arrived on time and in perfect condition.,dress,65,8,34,"February 12, 2014"
4,fit,151944,34b,616682,145,10,wedding,I have always been petite in my upper body and...,athletic,Was in love with this dress !!!,gown,69,12,27,"September 26, 2016"

In [79]:
X = cloth[['weight', 'height']]
y = cloth[['size']]

In [80]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [81]:
from sklearn.linear_model import Ridge
clf = Ridge(alpha=1.0)
clf.fit(X_train, y_train)

Ridge()

In [82]:
pred = clf.predict(X_test)

In [83]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test, pred)

69.59581194943539